body {
  background-color: #B8B08D;
}
.regle {
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:20%;
  background-color: #6D5C37;
  border-right: 5px solid #64162E;
  color:#f0eeeb;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}
p {
  padding : 10px;
}

h1 {
  text-decoration: underline;
  font-size: 40px;
  margin-top:20vh;
}

.pendu {
  border:1px solid black;
  width:400px;
  height:400px;
  margin: auto;
}

.lettres {
  /* border:1px solid black; */
  display: flex;
  justify-content: center;
}

.lettres div {
  margin: 10px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  /* background-color: aqua; */
  padding:5px;
  border-bottom: 2px solid black;
  width:30px;
  text-align: center;
  color:#B8B08D;
  user-select: none;
}

.erreur {
  /* border:1px solid black; */
  display: flex;
  justify-content: center;
  height:80px;
}

.erreur div {
  margin: 10px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;

  background: url("img/croix.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding:5px;
  width:30px;
  text-align: center;
  color:black;
  user-select: none;
}

.score {
  height:50px;
  /* border:1px solid black; */
  font-family: cursive;
  text-align: center;
  font-size: 30px;
}

.rejouer {
  background:#6d5C37;
  color:#f0eeeb;
  border-radius: 5px;
  border:3px solid #f0eeeb;;
  font-family: cursive;
  font-size: 50px;
  padding:2px 8px;
  max-width: fit-content;
  margin: 10px auto;
  transition: background-color 300ms;
  cursor: pointer;
}

.rejouer:hover {
  background: #2B2416;
}