.pendu {
  border:1px solid black;
  width:400px;
  height:400px;
  margin: auto;
}

.lettres {
  border:1px solid black;
  display: flex;
  justify-content: center;
}

.lettres div {
  margin: 10px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  background-color: aqua;
  padding:5px;
  border-bottom: 2px solid black;
  width:30px;
  text-align: center;
  color:white;
  user-select: none;
}

.erreur {
  border:1px solid black;
  display: flex;
  justify-content: center;
  height:80px;
}

.erreur div {
  margin: 10px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;

  background: url("img/croix.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding:5px;
  width:30px;
  text-align: center;
  color:black;
  user-select: none;
}

.score {
  border:1px solid black;
  font-family: cursive;
  text-align: center;
  font-size: 30px;
}